player-connection-mode=Listen
player-connection-guid=2862195013
player-connection-debug=0
player-connection-ip=192.168.157.1
player-connection-ip=192.168.60.1
player-connection-ip=10.0.75.1
player-connection-ip=172.25.208.1
player-connection-ip=172.26.126.225
player-connection-ip=192.168.1.65
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
single-instance=
scripting-runtime-version=latest
